[submodule "files/.vim/pathogen"]
	path = files/.vim/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "files/.vim/pathogen-bundle/neobundle"]
	path = files/.vim/pathogen-bundle/neobundle
	url = https://github.com/Shougo/neobundle.vim
[submodule "files/.i3"]
	path = files/.i3
	url = https://github.com/yuuki0xff/i3-wm-config
	branch = desktop/1
[submodule "files/.zsh/zsh-completions"]
	path = files/.zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
