[Unit]
Description=
#Before=
#Requires=
After=network.target
#Conflicts=

#Condition*=
#Assert*=

[Service]
User=daemon
Group=daemon

Type=simple
#Type=oneshot
# ===
#Type=forking
#PIDFile=/var/run/openvpn/%i.pid
# ===
#Type=idle

Environment=NAME=VALUE
EnvironmentFile=/path/to/file
WorkingDirectory=/path/to/dir

ExecStartPre=/path/to/executable/file
ExecStart=/path/to/executable/file
ExecReload=/path/to/executable/file
ExecStop=/path/to/executable/file

#RestartSec=1s
#TimeoutSec=10s
Restart=on-failure
#RestartPreventExitStatus=1
#RestartForceExitStatus=2
#OOMPolicy=kill

#SELinuxContext=
#AppArmorProfile=

LimitSTACK=8M
LimitCORE=10G
LimitNOFILE=1M
LimitNPROC=128
LimitMEMLOCK=unlimited
LimitLOCKS=unlimited
#UMask=
#CoredumpFilter=default
#KeyringMode=private
#OOMScoreAdjust=0

#Nice=19
#CPUAffinity=
#CPUSchedulingPolicy=batch
#IOSchedulingClass=idle   # NVMe SSDだと意味がない

#Protect*=
#InaccessiblePaths=
#PrivateTmp=true
#PrivateNetwork=true
#SystemCallFilter=

#StandardInput=
#StandardOutput=
#StandardError=
#LogRateLimit*=
#Syslog*=
#TTYPath=

#CPUWeight=
#CPUQuota=20%
#MemoryMax=
#IOWeight=

[Install]
WantedBy=multi-user.target
