
*~
*.back
*.bak
*.cache
*.tmp
*.swp
*.swo
*.swap

tags

*.log
*.log.*
*.pid

.git/

__pycache__
*.pyc
.venv/

.idea/
.vscode/
.mypy_cache/

.envrc

# Windows system files
System Volume Information
Thumbs.db
Thumbs.db:encryptable
