[user]
	email = yuuki0xff@gmail.com
	name = yuuki
	signingkey = BE0E83F1
[gpg]
	program = gpg
[tig]
	tab-size = 4
[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	pager = less -x 4
[color]
	ui = auto
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
[diff]
	patience = true
[diff "sqlite3"]
	textconv = sqlite3-dump
[diff "docx"]
	textconv = docx2plain
[commit]
	gpgSign = true
	verbose = true
[pull]
	rebase = false
[push]
	default = matching
[alias]
	alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort

	# status関連
	s  = status
	ss = status -s

	# log関連
	gl = log --graph --branches --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset'
	ll = log --pretty=format:'%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]' --decorate --numstat
	today = log --oneline --since='12 hour ago'

	# push関連
	p = !echo DRY_RUN && set -x && git push origin --dry-run && git push origin --tags --dry-run
	pp = !set -x && git push origin && git push origin --tags

	# commit関連
	a = add
	aa = !git add .  && git add -u && git status
	ai = !git add -i && git diff --cached && git status -s
	cm = commit -m
	amend = commit --amend
	fixup = commit --fixup
	wip = commit -m 'wip'
	cancel = reset --soft HEAD^

	# 差分を確認
	d  = diff --ignore-space-change
	d1 = diff --ignore-space-change HEAD~
	d2 = diff --ignore-space-change HEAD~2
	d3 = diff --ignore-space-change HEAD~3
	ds = diff --ignore-space-change --cached

	# 差分を確認 (単語単位)
	wd  = !git d  --word-diff
	wd1 = !git d1 --word-diff
	wd2 = !git d2 --word-diff
	wd3 = !git d3 --word-diff
	ws  = !git ds --word-diff

	# 差分を確認 (文字単位)
	cd  = !git d  --word-diff-regex="."
	cd1 = !git d1 --word-diff-regex="."
	cd2 = !git d2 --word-diff-regex="."
	cd3 = !git d3 --word-diff-regex="."
	cs  = !git ds --word-diff-regex="."

	# お掃除
	delete-merged-branches = !git branch --merged | grep -v \\* | xargs -r git branch -d

[rebase]
	autosquash = true
[pull]
	rebase = false
