# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Clion CMake project
cmake-build-debug/

# Mac
.DS_Store
._.DS_Store

*~
*.back
*.bak
*.cache
*.tmp
*.swp
*.swo
*.swap

tags

*.log
*.log.*
*.pid

.git/

__pycache__
*.pyc
.venv/

.idea/
.vscode/
.mypy_cache/

.envrc

# Windows system files
System Volume Information
Thumbs.db
Thumbs.db:encryptable

node_modules
