export EDITOR=vim
export TERMINAL=term
export PAGER=less


_xsessionrc_add_path() {
	[ -d "$1" ] && PATH=$PATH:$1
}
_xsessionrc_add_path ~/bin
_xsessionrc_add_path ~/.local/bin
_xsessionrc_add_path ~/.local/sbin
_xsessionrc_add_path "$GOBIN"
_xsessionrc_add_path ~/.cargo/bin


setxkbmap -option ctrl:nocaps
xrdb -merge ~/.Xdefault
xset -b


is_vnc() {
	xrandr 2>/dev/null |fgrep -q VNC-0
}


# モニタの設定
case `hostname` in
	desktop1)
		xrandr --output HDMI-1 --right-of HDMI-2 --output HDMI-1 --primary
		;;
	laptop2)
		xrandr --output eDP1 --primary
		# VNC clientしか使ってない。
		# SSH接続のためにターミナル起動する以外、何もしない。
		xterm &
		exec i3
		;;
	tagoken-desktop1)
		if is_vnc; then
			xrandr --output VNC-0 --primary
		else
			# 物理コンソールにログインしたときは、モニターの設定変更をする。
			# 3画面
			# 一番左のモニター(VGA-1)は縦置き
			# それ以外のモニター(HDMI-1, HDMI-2)は、VGA-1と下側を揃えて配置
			xrandr \
				--output VGA-1 --auto --rotate left --pos 0x0 \
				--output HDMI-1 --auto --pos 1080x840 \
				--output HDMI-2 --auto --primary --pos 3000x840
			# VNCへのログイン画面を表示
			vncviewer &
			# 常駐アプリは、VNCセッション起動時に立ち上げ済み。
			# 物理コンソールへのログイン時は、VNCのログイン画面だけを表示させたい。
			# そのため、これ以降の処理を全てスキップし、i3wmに制御を渡す。
			exec i3
		fi
		;;
esac

# vim:filetype=sh
