export EDITOR=vim
export TERMINAL=term
export PAGER=less


_xsessionrc_add_path() {
	[ -d "$1" ] && PATH=$PATH:$1
}
_xsessionrc_add_path ~/bin
_xsessionrc_add_path ~/.local/bin
_xsessionrc_add_path ~/.local/sbin
_xsessionrc_add_path "$GOBIN"
_xsessionrc_add_path ~/.cargo/bin


setxkbmap -option ctrl:nocaps
xrdb -merge ~/.Xdefault
xset -b


is_vnc() {
	xrandr 2>/dev/null |fgrep -q VNC-0
}


# モニタの設定
case `hostname` in
	desktop1)
		xrandr \
			--output DP-2-1 --off \
			--output DP-2 --auto --rotate left --pos 0x0 \
			--output DP-4 --auto --rotate right --primary --pos 1080x0 \
			--output HDMI-0 --auto --pos 2160x840
		;;
esac

# vim:filetype=sh
